<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />

    <title>About page</title>
</head>

<body>
    {{>header}}

    <main class="mb-5">
        <div class="bg-dark text-white p-5 text-center">
            <h1>About {{name}}</h1>
        </div>
        <div class="container">

            <p class="mt-4">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Molestiae repudiandae consequatur illo, hic reprehenderit
                incidunt error deleniti doloremque maiores adipisci doloribus
                harum blanditiis itaque consectetur, voluptatum autem explicabo
                id labore.
            </p>
            <p class="mt-3">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam
                eveniet alias, mollitia consectetur beatae maxime numquam
                adipisci debitis esse dolore cumque natus architecto optio
                eveniet alias, mollitia consectetur beatae maxime numquam
                adipisci debitis esse dolore cumque natus architecto optio
                voluptas accusantium at odit, culpa ipsam?
            </p>
            <p class="mt-3">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam
                eveniet alias, mollitia consectetur beatae maxime numquam
                adipisci debitis esse dolore cumque natus architecto optio
                eveniet alias, mollitia consectetur beatae maxime numquamLorem,
                ipsum dolor sit amet consectetur adipisicing
                elit. Nam eveniet alias, mollitia consectetur beatae maxime numquam
                adipisci debitis esse dolore cumque natus architecto optio
                eveniet alias, mollitia consectetur beatae maxime numquamLorem,
                ipsum dolor sit amet consectetur adipisicing
                elit. Nam eveniet alias, mollitia consectetur beatae maxime numquam
                adipisci debitis esse dolore cumque natus architecto optio
                eveniet alias, mollitia consectetur beatae maxime numquamadipisci
                debitis esse dolore cumque natus architecto optio voluptas accusantium at odit,
                culpa ipsam?
            </p>
            <p class="mt-4">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Molestiae repudiandae consequatur illo, hic reprehenderit
                incidunt error deleniti doloremque maiores adipisci doloribus
                harum blanditiis itaque consectetur, voluptatum autem explicabo
                id labore.
            </p>
            <button type="submit" class="btn btn-primary">Contact Us</button>
        </div>

    </main>
    {{>footer}}
</body>

</html>