<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/web-server/public/app.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <link rel="stylesheet" href="/style.css">

    <title>{{title}}</title>

</head>

<body>
    {{>header}}
    <main>
        <form id="sendQForm" class="container mt-5 mb-5 p-3">
            <div class="form-group mt-xl-4">
                <label for="exampleInputEmail1">Location</label>
                <div class="btn-group d-flex justify-content-between align-items-center">
                    <input id="location" type="text" class="form-control" />
                    <button id="sendQ" type="submit" class="btn btn-primary">Submit</button>
                </div>
                <small id="emailHelp" class="form-text text-muted">
                    Enter a location to cheack
                </small>
            </div>
        </form>
        <section>
            <p class="container" id="msgLocation"></p>
        </section>
    </main>

    {{>footer}}
    <script src="/app.js"></script>


</body>

</html>