body {
    background-color: #f5f7fa !important;
    position: relative;
    height: 100vh;
}
nav {
    background-color: #343a40;
    padding: 20px 0;
    color: white;
    display: flex;
    justify-content: space-between;
}
nav ul {
    display: flex;
    margin: 0;
    font-size: 1.3rem;
    list-style: none;
}
nav ul a {
    padding: 0 20px;
    color: white;
}
a:hover {
    text-decoration: none;
    color: #2790ff;
}
#msgLocation {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    padding: 20px 0;
}
footer > div {
    margin: auto !important;
}
footer h6 {
    margin: 0;
}
