body {
    background-color: #f5f7fa !important;
}
nav {
    background-color: #343a40;
    color: white;
    display: flex;
    justify-content: space-between;
}
nav ul {
    display: flex;
    margin: 0;
    font-size: 1.3rem;
    list-style: none;
}
nav ul a {
    padding: 0 20px;
    color: white;
}
a:hover {
    text-decoration: none;
    color: #2790ff;
}

footer {
    position: absolute;
    color: white;
    bottom: 0;
    width: 100%;
    padding: 0 200px;
}
